<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="Layout"
            value="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${logger}| ${message}"/>

  <!-- the targets to write to -->
  <targets>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${Layout}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target xsi:type="Console" name="console" layout="${Layout}" />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="Microsoft.*" minlevel="Warn" writeTo="coloredConsole" final="true"/>
    <logger name="SatisfactoryBot.BackgroundServices.DiscordBot" minlevel="Info" writeTo="coloredConsole" final="true"/>
    <logger name="RestSharp.*" minlevel="Info" writeTo="coloredConsole" final="true"/>
    
    <logger name="*" minlevel="Info" writeTo="blackhole" />
  </rules>
</nlog>